{include file="common/head"/}
<style>
	.option-list{
		padding: 10px;
	    border: 3px dashed #eee;
	    min-height: 100px;
	}
	.option-item .options{
		display: inline-block;
	    box-sizing: border-box;
	    position: relative;
	    width: 75%;
	    margin-bottom: 10px;
	}
	.option-item .option-del {
	    position: absolute;
	    top: 12px;
	    right: -30px;
	    cursor: pointer;
	}
	.show_box_length{
		width: 110px;
		display: none;
	}

	.show_box_content{
		width: 110px !important;top:0 !important;
	}

    .input_length{
        width: 500px !important;
        display: inline-block;
    }

    .add_input_length{
        width: 120px !important;
        display: inline-block;
    }
</style>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
    	<div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-1">
                <input type="text" name="sort" placeholder="{:lang('pleaseEnter')}排序" class="layui-input" value="{$sort}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">问题</label>
            <div class="layui-input-6">
                <input type="text" name="question" lay-verify="required" placeholder="{:lang('pleaseEnter')}问题" class="layui-input">
            </div>
        </div>
    
        <div class="layui-form-item">
            <label class="layui-form-label">问卷描述</label>
            <div class="layui-input-6">
            	<a class="layui-btn layui-btn-danger add_options">
            		<span class="icon icon-plus"></span>&nbsp;添加选项
            	</a>
            	<div class="layui-unselect layui-form-select layui-form-selected show_box_length" id="show_box">
            		<dl class="layui-anim layui-anim-upbit layui-select-group show_box_content">
            			<dd lay-value="radio">单选项</dd>
            			<dd lay-value="checkbox">复选项</dd>
                        <dd lay-value="textarea">填空问答</dd>
            		</dl>
            	</div>
                <div class="option-list">
                	
                </div>
            </div>
        </div>

        <input type="hidden" name="question_type" id="question_type">
        <input id="questionnaire_id" name="questionnaire_id" type="hidden" value="{:input('param.questionnaire_id')}">

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('question')}?questionnaire_id={:input('param.questionnaire_id')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
<script>
    var $form;
    var form;
    var $;
    layui.use(['form', 'layer','laydate'], function () {
        form = layui.form;
        var laydate = layui.laydate;
        $ = layui.jquery;
        var layer=layui.layer;

        form.on('submit(submit)', function (data) {
            var question_type=$("#question_type").val();
            if(question_type!='textarea'){
                var lengths=$(".option-list").find('.option-item').length;
                if(lengths==0){
                    layer.msg('请添加问题选项！',{icon:2});
                    return;
                }
                if(!validate()){
                    return;
                }
            }

            addOptions();

            data.field.options=optionsVal;
            // 提交到方法 默认为本身
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.href = res.url+"?questionnaire_id={:input('param.questionnaire_id')}";
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        })

        $form = $('.layui-form');

        $(".add_options").hover(function() {
        	$("#show_box").slideDown(200);
        }, function() {
            var status=true;
            $("#show_box").hover(function() {
                status=false;
            }, function() {
                $("#show_box").slideUp(200);
            });

            setTimeout(function(){
                if(status===true){
                    $("#show_box").slideUp(200);
                }
            },1000);
        });

        $("#show_box dl dd").click(function() {
        	var question_type=$("#question_type").val();
        	var types=$(this).attr('lay-value');
        	if(question_type!=''&&question_type!=types){
        		return;
        	}

            if(question_type=='textarea'){
                return;
            }

        	$("#question_type").val(types);

        	if(types=='radio'){
        		var str='<div class="option-item"><input name="-" type="radio" title=" "><div class="options"> <input type="text" class="layui-input input_length" placeholder="请输入选项文本"> <input type="text" name="turn_id" placeholder="跳题ID" class="layui-input add_input_length"><img class="option-del" src="__STATIC__/admin/images/btn-del.png" title="删除该选项"> </div> </div>';
        	}else if(types=='checkbox'){
        		var str='<div class="option-item"><input type="checkbox">&nbsp;&nbsp;<div class="options"><input type="text" class="layui-input input_length" placeholder="请输入选项文本"> <input type="text" name="turn_id" placeholder="跳题ID" class="layui-input add_input_length"><img class="option-del" src="__STATIC__/admin/images/btn-del.png" title="删除该选项"></div></div>';
        	}else if(types=='textarea'){
                var str='<div class="option-item"><div class="options"><input type="textarea" class="layui-textarea layui-disabled" disabled="disabled"><img class="option-del" src="__STATIC__/admin/images/btn-del.png" title="删除该选项"></div></div>';
            }

        	$(str).appendTo($(".option-list"));

        	form.render();

        	$(".option-del").click(function() {
	        	$(this).parent().parent().remove();
	        	var lengths=$(".option-list").find('.option-item').length;
        		if(lengths==0){
        			$("#question_type").val('');
        		}
	        });
        });
    });

    function validate(){
        var state = true;

        $('.option-list .option-item').each(function(i){
            $this = $(this);
            if( !$this.find('input[type=text]').val() ){
                layui.layer.msg('请填写选项文本',{icon:2});
                state = state && false;
            }
        });

        return state;
    }

    var optionsVal;
    function addOptions(){
        var options = {};
        /* 循环选项，收集选项信息 */
        $('.option-list .option-item').each(function(i){
            $this = $(this);
            var type = $this.find('input').attr('type');
            var text = (type!='radio' && type!='checkbox' && type!='textarea')? '':$this.find('input.input_length').val();
            var turn_id=$this.find('input.add_input_length').val();
            options[i] = {'type':type, 'text':text ,'turn_id':turn_id};
        });

        //序列化选项信息，写入到隐藏域#options中
        optionsVal = JSON.stringify(options);
    }
</script>