<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta  name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<title>{if condition="$info['title']"}{$info.title}{elseif condition="$title" /}{$title}{else}{$sys.title}{/if}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="keywords" content="{if condition="$info['keywords']"}{$info.keywords}{elseif condition="$keywords" /}{$keywords}{else}{$sys.key}{/if}" />
<link rel="stylesheet" href="__HOME__/mobile/css/style.css" type="text/css">
<link rel="stylesheet" href="__HOME__/mobile/css/fonts.css" type="text/css">
<link rel="stylesheet" href="__HOME__/mobile/css/weui.css" type="text/css">
<link rel="stylesheet" href="__HOME__/mobile/css/mobile.css">
<link rel="stylesheet" href="__HOME__/mobile/css/font-awesome.min.css">
<style>
    .weui-tabbar{position: fixed;}
    #mainBox .hd_nav a {
        border-bottom: solid 1px #ececec;
        border-top: solid 1px #ececec;
        padding-bottom: 10px;
    }
</style>
</head>

<body>
<div class="ui-banner">
    <div id="slider" class="swipe">
    <ul class="swipe-wrap">
        {volist name="adList" id="vo" key="i"}
        <li><a href="{$vo.url}"><img src="__PUBLIC__{$vo.pic}" /></a></li>
        {/volist}
    </ul>
        <div id="slider_on">
            <ul>
                {volist name="adList" id="vo" key="i"}
                <li {if condition="$i eq 1"}class="on"{/if}></li>
                {/volist}
            </ul>
        </div>
    </div>
</div>

<div id="mainBox">
	<div class="hd_nav">
        <a href="{:url('home/reagent/index',['catId'=>15])}"><i class="icon icon-laptop"></i><b>小黄盒</b></a>
    	<a href="{:url('home/baoxian/index')}"><i class="icon icon-library"></i><b>防艾险</b></a>
        <a href="/about/19.html"><i class="icon icon-keyboard"></i><b>保密协议</b></a>
        <a href="/about/14.html"><i class="icon icon-users"></i><b>关于我们</b></a>
        <a href="/about/20.html"><i class="icon icon-headphones"></i><b>联系我们</b></a>
        <a href="/about/21.html"><i class="icon icon-question"></i><b>常见问题</b></a>
    </div>
    <div class="title2" style="background-color: #ececec;"><h3>媒体报道</h3></div>
	<div class="stubBox">
        <div class="stub">
            <ul>
                {clt:list_join db='article' dbfield='catid' id='vo' joindb='category' joinfield='id' where="catid=17" order="listorder asc,createtime desc" limit='8'}  
                <li>
                    <a href="{:url('home/'.$vo['catdir'].'/info',array('id'=>$vo['id'],'catId'=>$vo['catid']))}">
                    	<div class="img">
                        	<img src="__PUBLIC__{$vo.thumb}">
                        </div>
                        <div class="content">
                            <h3>{:str_cut($vo.title,18,'...')}</h3>
                            <p>{:str_cut(strip_tags($vo.content),40,'...')}</p>
                        </div>
                    </a>
                </li>
                {/clt:list_join}
            </ul>
        </div>
    </div>
</div>

{include file="mobile/footer_tabbar" /}
<script type="text/javascript" src="__HOME__/mobile/js/zepto.min.js"></script> 
<script type="text/javascript" src="__HOME__/mobile/js/main.js"></script>
<script type="text/javascript" src="__HOME__/mobile/js/tool.js"></script> 
<script type="text/javascript" src="__HOME__/mobile/js/swipe.js"></script>

<script>
$(function(){
$('#slider').mBanner('slider');
});
</script>
<script type="text/javascript">
$(".informationBox ul li a").click(function(){
	$(".informationBox ul li a").find("contentM").addClass("stat").siblings().removeClass("stat");
	var index=$(".informationBox ul li a").index(this);
	$(".informationBox ul li a .contentM").eq(index).css('display','block');
	var div2=$(this).find('div').get(1);
	
	if($(div2).hasClass("don")){
		$(div2).css("display","none");
		$(div2).removeClass("don");
		$($(this).find('div').get(0)).css("display","block");
	}else{
		$(".informationBox ul li a .contentM").removeClass("don");
		$(".informationBox ul li a .tit1").css("display","block");
		$(".informationBox ul li a .contentM").css("display","none");
		$(div2).css("display","block");
		$(div2).addClass("don");
		$($(this).find('div').get(0)).css("display","none");
	}
});
$("#colce").click(function(){
	$("#formBox").hide();
	});
</script>
</body>
</html>
