<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
        {include file="mobile/header_source" /}
    </head>
    <body>
    	<article class="weui-article">
            <h1 class="lists_detail_title">{$info.title}</h1>
            <hr class="fengei" />
            <section>
                <section>
                    {$info.content}
                </section>
            </section>
        </article>
        
        {include file="mobile/footer_tabbar" /}
    </body>
</html>