{include file="pc/user_header" /}

<div class="main fly-user-main layui-clear layui-anim">
    {include file="pc/user_left" /}

    <div class="fly-panel fly-panel-user" style="margin-top: 70px;">
        <!--我的资料-->
        <div class="my_info">
            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">帐号</label>
                    <div class="layui-input-block">
                        <span class="my_zhanghao"><?php echo substr_replace(session('user.username'),'****',3,4)?></span>
                        <button class="layui-btn layui-btn-sm layui-btn-normal" style="height: 30px;line-height: 30px;padding: 0 10px;font-size: 12px;" onclick="changePhone()">更 换</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="1" title="男" {if condition="$info.sex eq 1"}checked=""{/if}>
                        <input type="radio" name="sex" value="0" title="女" {if condition="$info.sex eq 0"}checked=""{/if}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">生日</label>
                      <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="birthday" name="birthday" required lay-verify="date" placeholder="请选择生日" value="{if condition='!empty($info.birthday)'}{$info.birthday|date='Y-m-d',###}{/if}">
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">性取向</label>
                        <div class="layui-input-inline">
                            <select name="quxiang" lay-verify="required" lay-search="">
                                <option value="">请选择</option>
                                <?php $quXiangArr=quXiang();?>
                                {volist name="quXiangArr" id="m" key="n"}
                                <option value="{$n}" {if condition="$info.quxiang eq $n"}selected=""{/if}>{$m}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">学历</label>
                        <div class="layui-input-inline">
                            <select name="xueli" lay-verify="required" lay-search="">
                                <option value="">请选择</option>
                                <?php $xueLiArr=xueLi();?>
                                {volist name="xueLiArr" id="m" key="n"}
                                <option value="{$n}" {if condition="$info.xueli eq $n"}selected=""{/if}>{$m}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">职业</label>
                        <div class="layui-input-inline">
                            <select name="zhiye" lay-verify="required" lay-search="">
                                <option value="">请选择</option>
                                <?php $zhiYeArr=zhiYe();?>
                                {volist name="zhiYeArr" id="m" key="n"}
                                <option value="{$n}" {if condition="$info.zhiye eq $n"}selected=""{/if}>{$m}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="{:input('param.preferUrl')}" name="preferUrl"> 
                <div class="layui-form-item" style="text-align: center;">
                    <button class="layui-btn" lay-submit="" lay-filter="sub">提 交</button>
                </div>
        </div>
    </div>

</div>

{include file="pc/user_footer"}
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form,$ = layui.jquery;
        // 登录提交监听
        form.on('submit(sub)', function (data) {
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('index/myInfo')}",data.field,function(res){
                layer.close(loading);
                if(res.status > 0){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        if(res.url!=''){
                            location.href = res.url;
                        }
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
            return false;
        })
    })
</script>
</body>
</html>
