{include file="pc/user_header" /}

<div class="main fly-user-main layui-clear layui-anim">
    {include file="pc/user_left" /}

    <div class="fly-panel fly-panel-user" style="margin-top: 70px;">
        <!--申请记录-->
        <table class="layui-table">
            <thead>
                <tr>
                    <th>邮寄点</th>
                    <th>收件人</th>
                    <th>金额</th>
                    <th>状态</th>
                    <th>物流</th>
                    <th>进程</th>
                    <td>申请时间</td>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                {volist name="list" id="m"}
                <tr>
                    <td>{$m.youjidian}</td>
                    <td>{$m.shoujianren}</td>
                    <td>{$m.money}￥</td>
                    <td>
                        {if condition="$m.origin_payway eq 1"}
                        {$m.payway}
                        {else}
                        {$m.pay_status}({$m.payway})
                        {/if}
                    </td>
                    <th>
                        {$m.shipping_status}
                        {if condition="$m.origin_shipping_status == 2"}
                        (<a href="javascript:;" class="wuliu_detail">查看</a>)
                        {/if}
                    </th>
                    <td>
                        <a href="javascript:;" style="color: red;" {if condition="in_array($m.origin_process,[3,4])"}class="shangchuan"{/if}>{$m.process}</a>
                    </td>
                    <td>{$m.addtime|date="Y-m-d H:i",###}</td>
                    <td>
                        <span class="layui-breadcrumb" lay-separator="|">
                            <a href="javascript:;" class="order_detail">详情</a>
                            <a href="javascript:;" {if condition="$m.origin_order_status eq 1"}class="cancel"{else}style="color: red !important;"{/if}>{$m.order_status}</a>
                        </span>
                    </td>
                </tr>
                {/volist}
                <!-- <tr>
                    <td>长沙青彩邮寄点</td>
                    <td>汪忠良量</td>
                    <td>23￥</td>
                    <td>已付款(货到付款)</td>
                    <th>未发货（<a href="javascript:;" class="wuliu_detail">查看</a>）</th>
                    <td><a href="javascript:;" style="color: red;" class="shangchuan">上传结果</a></td>
                    <td>
                        <span class="layui-breadcrumb" lay-separator="|">
                            <a href="">取消</a>
                            <a href="javascript:;" class="order_detail">详情</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>长沙青彩邮寄点</td>
                    <td>汪忠良量</td>
                    <td>23￥</td>
                    <td>已付款(货到付款)</td>
                    <th>未发货（<a href="javascript:;" class="wuliu_detail">查看</a>）</th>
                    <td><a href="javascript:;" style="color: red;" class="shangchuan">上传结果</a></td>
                    <td>
                        <span class="layui-breadcrumb" lay-separator="|">
                            <a href="">取消</a>
                            <a href="javascript:;" class="order_detail">详情</a>
                        </span>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <div style="text-align: center;">{$page}</div>
    </div>
</div>

{include file="pc/user_footer" /}
</body>
</html>
