{include file="pc/user_header" /}

<div class="main fly-user-main layui-clear layui-anim layui-anim-scaleSpring">
    <div class="layui-side layui-bg-black lnk_nav">
    <div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-this">
            <a href="javascript:;">申请记录</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">我的消息 <span class="layui-badge">9</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">我的防艾险 <span class="layui-badge">保障中</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">个人资料</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">我的地址</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">意见反馈 <span class="layui-badge">9</span></a>
        </li>
    </ul>
    </div>
    </div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="fly-panel fly-panel-user" style="margin-top: 70px;">
        <!--申请记录-->
        <table class="layui-table">
            <thead>
                <tr>
                    <th>邮寄点</th>
                    <th>收件人</th>
                    <th>金额</th>
                    <th>状态</th>
                    <th>物流</th>
                    <th>进程</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                <tr>
                    <td>长沙青彩邮寄点</td>
                    <td>汪忠良量</td>
                    <td>23￥</td>
                    <td>已付款(货到付款)</td>
                    <th>未发货（<a href="javascript:;" class="wuliu_detail">查看</a>）</th>
                    <td><a href="javascript:;" style="color: red;" class="shangchuan">上传结果</a></td>
                    <td>
                        <span class="layui-breadcrumb" lay-separator="|">
                            <a href="">取消</a>
                            <a href="javascript:;" class="order_detail">详情</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>长沙青彩邮寄点</td>
                    <td>汪忠良量</td>
                    <td>23￥</td>
                    <td>已付款(货到付款)</td>
                    <th>未发货（<a href="javascript:;" class="wuliu_detail">查看</a>）</th>
                    <td><a href="javascript:;" style="color: red;" class="shangchuan">上传结果</a></td>
                    <td>
                        <span class="layui-breadcrumb" lay-separator="|">
                            <a href="">取消</a>
                            <a href="javascript:;" class="order_detail">详情</a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>长沙青彩邮寄点</td>
                    <td>汪忠良量</td>
                    <td>23￥</td>
                    <td>已付款(货到付款)</td>
                    <th>未发货（<a href="javascript:;" class="wuliu_detail">查看</a>）</th>
                    <td><a href="javascript:;" style="color: red;" class="shangchuan">上传结果</a></td>
                    <td>
                        <span class="layui-breadcrumb" lay-separator="|">
                            <a href="">取消</a>
                            <a href="javascript:;" class="order_detail">详情</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<div class="footer">
    <p><a href="statute/index.shtml">艾检测</a> 2018 &copy; <a href="">检测中心</a></p>
</div>
<script src="Public/Index/js/jquery-2.0.3.min.js"></script>
<script src="Public/Index/js/TweenLite.min.js"></script>
<script src="Public/Index/js/EasePack.min.js"></script>
<script src="Public/Index/js/rAF.js"></script>
<script src="Public/Index/js/demo-1.js"></script>
<script src="js/layer/layer.js"></script>
<script src="Public/Index/layui/layui.js"></script>

<script>
	layui.cache.page = 'user';
	layui.cache.user = {
		uid: -1
	};
	layui.config({
		version: "2.0.0"
		,base: 'Public/Index/mods/'
	}).extend({
		fly: 'index'
	}).use('fly');

    layui.use(['laydate','laypage'], function(){
        var laydate = layui.laydate;
        var laypage = layui.laypage;

        laypage.render({
            elem:'pages',count: 1000,limit: 100,limits: [100, 300, 500]
        });

        //常规用法
        laydate.render({
            elem: '#birthday'
        });
    });

    //物流详情
    $(".wuliu_detail").click(function() {
        var wuliu_detail='<ul class="layui-timeline"><li class="layui-timeline-item"><i class="layui-icon layui-timeline-axis"></i><div class="layui-timeline-content layui-text"><h3 class="layui-timeline-title">长沙站</h3><p>快递员正在派件中</p></div></li><li class="layui-timeline-item"><i class="layui-icon layui-timeline-axis"></i><div class="layui-timeline-content layui-text"><h3 class="layui-timeline-title">长沙站</h3><p>快递员正在派件中</p></div></li><li class="layui-timeline-item"><i class="layui-icon layui-timeline-axis"></i><div class="layui-timeline-content layui-text"><h3 class="layui-timeline-title">长沙站</h3><p>快递员正在派件中</p></div></li></ul>';
        layui.layer.open({
            type: 1,
            title: '物流详情',
            area: ['600px', '70%'], //宽高
            content: wuliu_detail
        });
    });
    //订单详情
    $(".order_detail").click(function() {
        var order_detail='<table class="layui-table" style="width:1170px;margin-left:10px;"><tbody><tr align="center"><td class="pre_title">订单号</td><td>201708451211</td><td class="pre_title">邮寄点</td><td>长沙青彩邮寄点</td><td class="pre_title">收件人</td><td>汪忠良</td></tr><tr align="center"><td class="pre_title">电话</td><td>15274985005</td><td class="pre_title">订单状态</td><td>已付款(货到付款)</td><td class="pre_title">金额</td><td>23￥</td></tr><tr align="center"><td class="pre_title">付款时间</td><td>2017-08-18 17:50:30</td><td class="pre_title">发货时间</td><td>2017-08-18 17:50:30</td><td class="pre_title">是否发货</td><td>是</td></tr><tr><td class="pre_title" align="center">收货地址</td><td colspan="5" align="left">长沙大学</td></tr></tbody></table>';
        layui.layer.open({
            type: 1,
            area: ['1200px', '40%'], //宽高
            content: order_detail
        });
    });
    //上传结果
    $(".shangchuan").click(function() {
        layer.open({
            type: 2,
            title: '结果上传',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '300px'],
            content: 'upload.html'
        });
    });
    //更换手机
    function changePhone(){
        layer.open({
            type: 2,
            title: '更换手机',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '300px'],
            content: 'newPhone.html'
        });
    }
    //意见反馈
    function fankui(){
        layer.open({
            type: 2,
            title: '感谢您的反馈！',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '350px'],
            content: 'fankui.html'
        });
    }
</script>
</body>
</html>
