<div class="layui-side layui-bg-black lnk_nav">
        <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item <?php if(in_array(request()->action(),['myorder','myOrder'])):?>layui-this<?php endif;?>">
                <a href="{:url('myOrder')}">申请记录</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">我的消息 <span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">我的防艾险 <span class="layui-badge">保障中</span></a>
            </li>
            <li class="layui-nav-item <?php if(in_array(request()->action(),['myinfo','myInfo'])):?>layui-this<?php endif;?>">
                <a href="{:url('myInfo')}">个人资料</a>
            </li>
            <li class="layui-nav-item <?php if(in_array(request()->action(),['myaddress','myAddress'])):?>layui-this<?php endif;?>">
                <a href="{:url('myAddress')}">我的地址</a>
            </li>
            <li class="layui-nav-item <?php if(in_array(request()->action(),['mysuggestion','mySuggestion'])):?>layui-this<?php endif;?>">
                <a href="{:url('mySuggestion')}">意见反馈 {if condition="$messageNums gt 0"}<span class="layui-badge">{$messageNums}</span>{/if}</a>
            </li>
        </ul>
        </div>
    </div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>