<div class="foot">
	<div class="container">
		<div class="row wow fadeInUp">
			<div class="col-sm-4 foot1">
				<ul>
					<li>电 话：{$sys.tel}</li>
					<li>邮 箱：{$sys.email}</li>
					<li>客 服：&nbsp;&nbsp;<a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin={$qqArr[0]}&site=qq&menu=yes" target="_blank"><span class="fa fa-qq"></span></a></li>
				</ul>
			</div>
			<div class="col-sm-4 foot2">
				<ul>
					<li>公众平台：&nbsp;&nbsp;<a id="weixin" href="javascript:;"><span class="fa fa-weixin"></span></a></li>
					<li>地 址：{$sys.ads}</li>
					<li>邮政编码：410000</li>
				</ul>
			</div>
			<div class="col-sm-4 foot3">
				<ul>
					<li><a href="/about/19.html">保密协议</a></li>
					<li><a href="/about/20.html">联系我们</a></li>
					<li><a href="/about/21.html">常见问题</a></li>
				</ul>
			</div>				
		</div>
	</div>
</div>

<div class="foot-b">
	<div class="container">
	Copyright © {$sys.copyright} <a href="{:url('home/index/index')}" target="_blank">{$sys.name}</a> All rights reserved.&nbsp;&nbsp;<a rel="nofollow" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">{$sys.bah}</a>&nbsp;&nbsp;艾检测工作室提供技术支持
	</div>
</div>

<div id="outer-w">
	<div id="outer" >
		<div id="middle">
			<div id="inner" class="inner">
				<div class="inner1">
					<img src="__PUBLIC__/{$sys.wechat_logo}" width="200" height="200" alt="" />
				<div id="close"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="bg-black"></div>	
</div>