{include file="pc/common_header" /}
	<div class="index">
		<div class="container ">
			<div class="row">
				<nav>
				<ol class="breadcrumb"><span class="glyphicon glyphicon-list"></span>
					<li><a href="demo/business-template/V398/">网站首页</a></li>
					<li><a title="关于" href="demo/business-template/V398/guan-yu">关于</a></li>
				</ol>
				</nav>
			</div>
		</div>

		<div class="title">
			<h3 class="wow bounceInDown">
				<a href="javascript:;">{$info.title}</a>
			</h3>
			<p class="wow bounceIn"></p>
		</div>

		<div class="container">
			<div>
				{$info.content}
			</div>
			<div class="blank60"></div>
		</div>
	</div>
	{include file="pc/common_footer" /}
</body>
</html>
